<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login/Signup Form</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" />
  
  <script type="text/javascript"  src="{{url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
  
    <form action="index1.html" method="POST">
        <input type="text" id="name" name="name" placeholder="Enter name.." />
        <input type="text" id="email" name="email" placeholder="Enter email.." />
        <input type="submit" onclick="handleSubmit()"/>
    </form>
  
</body>
</html>